<app-home></app-home>
<div>
    <div class="container">
         <div class="tittle">
             <img src={{news.urlToImage}}><br>
             <div class="heading"><b>{{news.title}}</b></div>
            </div>
         <div class="sub-data">{{news.description}}</div>
         <div class="sub-data">{{news.content}}</div>
         <div class="sub-data">Author:  {{news.author}}</div>
         <div class="sub-data">Published At:  {{news.publishedAt}}</div>
         <div class="sub-data">Reference Link:  {{news.url}}</div>
    </div>
</div>

