    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Weather">Wheather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/News">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Zomato">Zomato</a>
        </li>        
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link">Welcome {{user}}</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" (click)="doLogout()">Logout</a>
          </li>
      </ul>
    </div>
    
  </nav>
  
